.all-products .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem 0;
}

.all-products .product-card {
    padding: 1.5rem;
    background: #fff;
    border-radius: 12px;
    transition: transform 0.3s ease;
}
.all-products .product-card img {
        margin: 1rem 0;
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 0.5rem;
}

.all-products .product-card h1 {
    font-size: 1.8rem;
    margin-bottom: 0.75rem;
}

.all-products .product-card .price {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-green);
}